body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: $redFire;
  font-family: $fontAsap;
}

.quote p {
  text-align: center;
  align-items: center;
  height: 50px;
  width: 500px;
  border-radius:10px ;
  font-family:fontAsap;
  background-color: redFire;
}
.container-button {
  margin-left: 120px;
}
.container-button button {
  background-color: rgba(244, 91, 105, 1);
}